/* CONTAINER POSITION FIXED */
.container-footer {
  align-items: center;
  background-color: white;
  /* margin-left: 2px; */
  border-radius: 25px 25px 0 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 20px;
  position: fixed;
  width: 335px;
}

/* CONTAINER DISPLAY FLEXED */
.footer-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ICONS */
.footer-nav {
  background-color: white;
  border: none;
  color: #00d76b;
  width: 100%;
  height: 100%;
  margin: 6px;
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.footer-itens {
  height: 20px;
  width: 20px;
}
